.App {
  text-align: center;
  position: relative; 
}

form {
  text-align: left;
  width: 30%;
  padding: 1rem;
  margin: 10% 5% 5% 50%;
  border: 1px solid;
  position: absolute;
  left: 1rem; 
}

#canvas {
  border: 1px solid;
  z-index: 10000;
  width: 50%;
  display: flex;
  margin: 0;
  position: absolute;
  top: 4rem;
  left: 0.5rem; }

h1 {
  font-size: 2rem; 
}
